#TopBox {
  display: grid;
  /* grid-template-columns: repeat(2, 50%); */
  grid-template-columns: 70% 30% 1fr;
  /* grid-template-rows: 600px 10px; */
}

/* 왼쪽 박스 */

#containerLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding-top: 30px;
}

#lpImg {
  width: 40%;
  transition: transform 0.3s ease;
}

.spin {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* 오른쪽 */

#containerRight {
  padding-top: 100px;
}

/* 아래  */

#BottomBox {
  padding: 3rem 0 0 3rem;
  display: flex;
  gap: 20px;
}

#currentPlay {
  width: 20rem;
  height: 15rem;
  background-color: aqua;
}

#playList {
  border: 1px solid black;
  width: 85%;
}